// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;
 
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
 
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
 
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
 
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

html, body {
  @include gradient(rgba(200,200,200,.8),rgba(200,100,200,.4))
}

#container {margin:0 auto; width:95%; }
.tweetbox .username {background-color: rgba(255,25,255,.5);}
.tweetbox .tagline {background-color:rgba(255,25,255,.5)}
.tweetbox .tweet {background-color:white; text-align:left}

.tweetbox {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  display: inline;
  width: 300px;
  text-align:center
}